### About:
4/11/2021 Program calculate the correlation coefficient: => TBD

    (1) between internet speeds
    (2) between states
    (3) between states & internet speeds??? -> Self Assigned

#### NOTE: Make sure to unzip the xlsx files

@author: Minh Nguyen @AIA

@credit: Qasim, Andrei @AIA

In [9]:
import numpy as np
from numpy.random import randn
from numpy.random import seed
from numpy import array_split
import pandas as pd
from sklearn import metrics as mt
from sklearn import model_selection as md
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn.datasets as ds
import random

### Correlation Calculation

In [10]:
def correlation_cal(df):
    # Instead of just dropping the missing values, we will fill in N/A values
    if df.isna().values.any():
        while True:
            missing_type = input("Please enter the type of missing value replacement: mean, medium, mode, or drop from the row")
            missing_type = missing_type.lower()
            if(missing_type in ['mean', 'median', 'mode', 'drop']):
                if(missing_type == 'mean'):
                    df.fillna(df.mean(), inplace=True)
                elif(missing_type == 'median'):
                    df.fillna(df.median(), inplace=True)
                elif(missing_type == 'mode'):
                    df.fillna(df.mode(), inplace=True)
                else:
                    df.dropna()
                break
            else:
                print("Please input the option from the list")
    
    # Calculate input data correlation
    while True:
        corr_type = input("Please enter type of correlation: Pearson, Spearman, or Kendall: ")
        corr_type = corr_type.lower()
        if corr_type in ['pearson', 'spearman', 'kendall']:
            break
        else:
            print("Please try again")
    
    # Plot correlation matrix
    corrMatrix = df.corr(method=corr_type)
    _, ax = plt.subplots(figsize=(12, 10))
    sns.heatmap(corrMatrix, ax = ax, cmap="gray", linewidths = 0.1) # cmap can also be "YlGnBu"

#### Preprocess Data

In [11]:
!ls

Correlation - Fixed BB 2.ipynb
fixed_bb_2016.csv

In [12]:
def parse_data(file):
    """ Function load csv file into csd pandas """
    dataset = pd.read_csv(file)
    return dataset

In [13]:
df = parse_data("fixed_bb_2016.csv")

In [14]:
df

,Unnamed: 0,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,techcode,consumer,maxaddown,maxadup,business
0,0,7646752,55618,3738994,North-State Telephone Co.,North-State Telephone Co.,"May, Bott et al.",130986,"May, Bott et al.",OR,410659708001300,50,1,500.0,250.000,0
1,1,30668662,58876,18626853,"CenturyLink, Inc.",CenturyLink,"CenturyLink, Inc.",130228,"CenturyLink, Inc.",WA,530139602003022,11,1,20.0,1.500,1
2,2,47595710,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",FL,120850018011056,60,1,2.0,1.300,1
3,3,22460695,57073,27353192,Orange County REMC,Orange County REMC,Orange County REMC,400105,Orange County REMC,IN,180259519001066,70,1,8.0,4.000,1
4,4,10848687,56004,4963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",GA,131850102026007,60,1,100.0,3.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,21312322,56740,4257010,"Allstream Business US, LLC","Allstream Business US, LLC","Zayo Group, LLC",130982,"Zayo Group, LLC",OR,410670308013007,20,0,0.0,0.000,1
996,996,31837484,59246,2166825,Verizon Maryland LLC,Verizon Maryland LLC,Verizon Communications Inc.,131425,Verizon Communications Inc.,MD,240199701001124,10,1,1.5,0.384,1
997,997,52571870,59349,1568880,GCI Communication Corp.,GCI Communication Corp.,GCI Holdings LLC,130534,GCI Holdings LLC,KY,211079703002010,60,0,0.0,0.000,1
998,998,3455591,55133,2575777,"Panora Telecommunications, Inc.",Panora Telecommunications,Panora Communications Cooperative,131008,Panora Communications Cooperative,IA,190779501001099,50,1,200.0,100.000,1
999,999,31628697,59153,3741436,LISMORE COOPERATIVE TELEPHONE CO,Lismore Cooperative Telephone Company,Lismore Cooperative Telephone Company,130748,Lismore Cooperative Telephone Company,MN,271335703001109,70,1,25.0,5.000,1