### About:
4/11/2021 Program calculate the correlation coefficient: => TBD

    (1) between internet speeds
    (2) between states
    (3) between states & internet speeds??? -> Self Assigned

#### NOTE: Make sure to unzip the xlsx files

@author: Minh Nguyen @AIA

@credit: Qasim, Andrei @AIA

In [1]:
import numpy as np
from numpy.random import randn
from numpy.random import seed
from numpy import array_split
import pandas as pd
from sklearn import metrics as mt
from sklearn import model_selection as md
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn.datasets as ds
import random

### Correlation Calculation

In [2]:
def correlation_cal(df):
    # Instead of just dropping the missing values, we will fill in N/A values
    if df.isna().values.any():
        while True:
            missing_type = input("Please enter the type of missing value replacement: mean, medium, mode, or drop from the row")
            missing_type = missing_type.lower()
            if(missing_type in ['mean', 'median', 'mode', 'drop']):
                if(missing_type == 'mean'):
                    df.fillna(df.mean(), inplace=True)
                elif(missing_type == 'median'):
                    df.fillna(df.median(), inplace=True)
                elif(missing_type == 'mode'):
                    df.fillna(df.mode(), inplace=True)
                else:
                    df.dropna()
                break
            else:
                print("Please input the option from the list")
    
    # Calculate input data correlation
    while True:
        corr_type = input("Please enter type of correlation: Pearson, Spearman, or Kendall: ")
        corr_type = corr_type.lower()
        if corr_type in ['pearson', 'spearman', 'kendall']:
            break
        else:
            print("Please try again")
    
    # Plot correlation matrix
    corrMatrix = df.corr(method=corr_type)
    _, ax = plt.subplots(figsize=(12, 10))
    sns.heatmap(corrMatrix, ax = ax, cmap="gray", linewidths = 0.1) # cmap can also be "YlGnBu"

#### Preprocess Data

In [3]:
!ls

Correlation - Fixed BB 1.ipynb
fixed_bb_2015.csv

In [4]:
def parse_data(file):
    """ Function load csv file into csd pandas """
    dataset = pd.read_csv(file)
    return dataset

In [5]:
df = parse_data("fixed_bb_2015.csv")

In [6]:
df

,Unnamed: 0,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,techcode,consumer,maxaddown,maxadup,business
0,0,43703819,59349,1568880,GCI Communication Corp.,GCI Communication Corp.,GCI Holdings LLC,130534,GCI Holdings LLC,CA,60372975002011,60,0,0.0,0.000,1
1,1,52903043,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",KY,211539704001010,60,1,2.0,1.300,1
2,2,30886253,58884,18294934,Small Business Solutions Group L.L.C.,Rural Reach,Small Business Solutions Group LLC,320084,Small Business Solutions Group LLC,MI,261614470001135,70,1,30.0,20.000,1
3,3,71368180,59349,1568880,GCI Communication Corp.,GCI Communication Corp.,GCI Holdings LLC,130534,GCI Holdings LLC,WA,530770017021010,60,0,0.0,0.000,1
4,4,6312039,55574,3768165,"COMCAST CABLE COMMUNICATIONS, LLC",Comcast,Comcast Corporation,130317,Comcast Corporation,GA,131210116233004,43,1,987.0,35.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,26844583,58623,25646373,"Charter Communications, Inc.",Charter Communications Inc,Charter Communications,130235,Charter Communications,OR,410659706002066,43,1,940.0,35.000,1
996,996,4762630,55394,4372322,UNITED STATES CELLULAR CORPORATION,United States Cellular Corporation,"Telephone and Data Systems, Inc.",131310,"Telephone and Data Systems, Inc.",IA,191799604001017,70,1,2.0,0.064,0
997,997,12673465,56004,4963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MA,250039111001034,60,1,35.0,3.000,1
998,998,5716941,55522,17230699,"Nextera Wireless, LLC",Nextera Wireless LLC,"Nextera Holdings, LLC",200032,"Nextera Holdings, LLC",MN,270531113006006,70,1,50.0,50.000,1
999,999,27113770,58623,25646373,"Charter Communications, Inc.",Charter Communications Inc,Charter Communications,130235,Charter Communications,OH,390490073953026,43,1,940.0,35.000,1